<div class="generic-content-wrapper">
	<div class="section-title-wrapper">
		<h2>{{$title}}</h2>
	</div>
	<div class="section-content-wrapper">
		<div class="section-content-success-wrapper">
			<div class="h3"><i class="bi bi-check-lg"></i> {{$strings.0}}</div>
		</div>
		<div class="section-content-warning-wrapper">
			{{$strings.2}}
		</div>
		<div class="section-content-info-wrapper">
			<div class="h3">{{$strings.1}} {{$id}}</div>
		</div>
	</div>
</div>
