.doco-list-group-item > a {
	font-weight: bold;
}

.sub-menu {
	margin: 3px 0px 10px 10px;
}

#doco-content h3 {
	border-bottom: #ccc 3px solid;
	padding-bottom: 0.3em;
}

#doco-content img {
	width: 100%;
}

#region_1 .widget ul ul {
	list-style-type: none;
}

#doco-top-toc-wrapper {
	margin-bottom: 1em;
}

#doco-top-toc-wrapper > summary {
	font-size: large;
}

.toc-content li,
	#doco-top-toc li {
	padding: 3px 0px;
}

#doco-side-toc li {
	padding-left: 20px;
}

.selected-doco-nav > a {
	font-weight: bold;
	color: var(--bs-link-hover-color);
}

#help-content pre code {
	overflow-x: auto;
	white-space: pre;
}
